body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;

  .App {
    padding: 20px;

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .columns-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      margin-top: 15px;


      .column {
        background: #e3e3e3;
        border-radius: 5px;
        padding: 8px;

        .column-header-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .react-beautiful-dnd-draggable {
          margin: 0 !important; /* Remove margin to prevent extra spacing */
        }

        .react-beautiful-dnd-drag-handle {
          background-color: #ddd;
          border-radius: 4px;
          display: inline-block;
          height: 20px;
          width: 20px;
          margin-right: 8px;
          cursor: grab;
        }

        .todo-item {
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 8px;
          transition: background-color 0.2s ease;
          margin-bottom: 8px;

          .edit-task-wrapper, .task-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
          }

          a{
            cursor: pointer !important;
          }

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }

  .task-form {
    max-width: 100%;
    width: 400px;
    margin: 0 auto;

    &--actions {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
  }

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
  }

  button {
    padding: 10px 30px;
    background: #e3e3e3;
    border-radius: 5px;
    border: 2px solid #e3e3e3;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: transparent;
    }

    &.danger {
      border-color: red;
      background: red;
      color: #ffffff;

      &:hover {
        background-color: transparent;
        color: red;
      }
    }
  }
}
